@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Gerenciador de frotas</h2>
        <p>
            Clique no menu Veículos para inicializar.
        </p>
    </div>
</div>